*{
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #F06292, #9575CD);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_bar{
    width: 500px;
    border-radius: 100px;
    background-color: #fff;
}
.input_box{
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 20px;
}

/* ---------- Search Icon ---------- */
.search_container{
    margin-right: 20px;
    padding-top: 8px;
}
.circle{
    width: 16px;
    height: 16px;
    display: block;
    border: 3px solid #000;
    border-radius: 100px;
}
.line{
    width: 3px;
    height: 12px;
    border-radius: 100px;
    background-color: #000;
    transform: translate(19px, -5px) rotate(-45deg);
}
/* ---------- Search Icon ends---------- */

input{
    width: 100%;
    font-size: 25px;
    padding: 10px 0px;
    border: none;
    outline: none;
}
.placeholder{
    position: absolute;
    left: 40px;
    top: 10px;
    display: flex;
    align-items: center;
    pointer-events: none;
    color: #989898;
}
.box{
    font-size: 25px;
    margin-right: 10px;
}
.slider_box{
    position: relative;
}
.slider{
    position: absolute;
    left: -5px;
    opacity: 0;
    font-size: 25px;
    transition: 0.5s;
}